*{
    margin: 0;
}

.blue-background{
    background: #1F2937;
}

.header{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    margin: auto;
}

.hero-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}

.header-links{
    display: flex;
    gap: 30px;
}

.hero{
    display: flex;
    margin: auto;
    width: 80%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-main-div{
    width: 35%
}

.header-btn{
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
    margin-top: 10px;
}

.hero-img{
    width: 500px;
    height: 300px;
}

img{
    height: 100%;
    width: 100%;
}

/* Random Information */
.random-div{
    text-align: center;
    padding: 30px 24px;
}
.random-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information {
    display: flex;
    padding: 10px 100px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.info-desc{
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image{
    width: 200px;
}

/* Quote */
.quote-div{
    background: #E5E7EB;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    display: flex;
    flex-direction: column;
    width: 500px
}
.text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.source{
    align-self: flex-end;
    font-weight: bold;
}

/* Sign up */
.sign-up-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.sign-up{
    display: flex;
    background: #3882F6;
    padding: 25px 50px;
    border-radius: 10px;
    color: white;
    gap: 20px;
}

.content{
    display: flex;
    flex-direction: column;
}
/* footer */
footer{
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}