body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 20px;
}

ul{
    display: flex;
    list-style: none;
    gap: 8px;
}

a{
    text-decoration: none;
}